
@font-face {
    font-family: 'SoletoBold';
    src: url('fonts/Soleto-Bold.woff') format('woff');
}

@font-face {
    font-family: 'SoletoRegular';
    src: url('fonts/Soleto-Regular.woff') format('woff');
}

@font-face {
    font-family: 'TitlingGothicFBCond';
    src: url('fonts/TitlingGothicFB Cond Bold.otf') format('otf');
}

@font-face {
    font-family: 'Varveine';
    src: url('fonts/VarveineRegular') format('ttf');
}


body {
    margin: 0;
    max-width: 1440px;
    background-image: url('img/backgroundDesign.jpg');
    width: 1440px;
    height: 6709px;
    background-repeat: no-repeat;
}
.group1{
    display: flex;
    flex-direction: column-reverse;
    background-image: url('img/group1background.png');
    background-repeat: no-repeat;
    width: 1440px;
    height: 669px;
    align-items: flex-end;
}

.underline{
    margin-bottom: -4px;
    z-index: -1;
}

.group1slider{
    margin-top: 44px;
    align-self: flex-start;
    position: relative;
    overflow: hidden;
    width: 871px;
    height: 185px;
    display: flex;
    justify-content: center;
}

.group1slider ul{
    height:100px;
    padding:0;
    display:flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
    vertical-align: text-top;
    align-items: center;
}

.group1slider ul li{

}

.group1numbersInsideSlider {
    margin-top: 0;
    width: 274px;
    height: 100px;
    font-family: "SoletoBold", sans-serif;
    font-size: 24pt;
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.group1numbersInsideSlider .prev-number{
   padding-left:10px;
 }

.group1numbersInsideSlider .current-number{
    font-weight: bold;
    font-size: 85pt;
    margin-bottom: 23px;
    /*vertical-align: top;*/
}

.group1hat {
    /*margin-top: 86px;*/
    width: 1362px;
    height: 307px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.group1hat ul{
    margin-left: 49px;
    margin-top: 14px;
    font-family: "SoletoBold", sans-serif;
    font-size:17pt;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.group1hat ul li {
    margin-right: 17.25px;
}

.group1hat ul li a{
    outline: none;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.group2{

}


.group3{

}

.group4{

}

.group5{

}

.group6{

}
